
/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff url('/static/assets/intro.jpg') no-repeat center;
    background-size: contain;
    max-width: 425px;
    height: 765px;
    margin: auto;
    z-index: 10000;
}



/* header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.navbar .nav_back {
    color: black;
    /* color: #fff; */
    font-size: 30px;

}
.navbar .nav_icon {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.nav_icon i {
    color: #F95959;
    font-size: 20px;
}
.navbar img {
    width: 100px;
}


main {
    padding-bottom: 50px;
}






/* home page */

.main_slider {
    padding: 5px 15px;
}
.main_slider img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}




.main_details {
    margin: 5px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
}

.main_details i {
    width: 20px;
    color: #F95959;
}
.main_details .details_text {
    font-size: 11px;
    text-wrap: wrap;
    width: 90%;
}
.main_details .details_btn{
    color: rgb(232, 230, 227);
    background-color: #F95959;
    padding: 6px 14px;
    border-radius: 20px;
    display: flex;
}
.details_btn i {
    color: white;
}

.main_game {
    margin: 5px 15px;
    display: flex;
    gap: 10px;
    align-self: center;
}
.game_logo.active {
    background-color: #F95959;
    color: #fff;
}
.game_logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    height: 70px;
    border-radius: 10px;
    background-color: #F7F8FF;
    color: #768096;
    text-overflow: clip;
    margin-bottom: 10px;
    box-shadow: 2px 2px #afafaf;
}
.game_logo img {
    margin: auto;
    width: 35px;
}

.game_details {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 10px;
    color: white;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    border-radius: 10px;
    width: 300px;
    height: 16vh;
    margin-bottom: 10px;
}
.game_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game_info h1 {
    color: #fff;
}
.game_info p {
    color: white;
    font-size: 12px;
}
.game_details .game_info_img img {
    width: 75px;
}


.main_winning {
    margin: 5px 15px;
}
.winning_heading {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.main_winning .vr_line {
    width: 3px;
    height: 20px;
    background-color: #F95959;
}

.winning_card {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    margin-bottom: 10px;
    box-shadow: 2px 2px #dbdbdb;
    padding: 10px;
}

.winning_card .user_img {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.winning_card .user_img img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.winning_card .user_wingame {
    display: flex;
    gap: 10px;
    align-items: center;
}
.winning_card .user_wingame .wingame {
    width: 80px;
    height: 50px;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winning_card .user_wingame img {
    width: 70px;
}
.win_amount h2 {
    font-size: 16px;
}
.win_amount p {
    font-size: 14px;
    color: gray;
}

.main_earning {
    margin: 5px 15px;
}
.main_earning .earning_heading {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.earning_heading .vr_line {
    width: 3px;
    height: 20px;
    background-color: #F95959;
}

.earning_table .table img {
    width: 395px;
    margin-bottom: 20px;
}

.top_user_card {
    box-shadow: 2px 2px #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 20px;
    padding: 10px;
}
.top_user_card .user_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.top_user_card h1 {
    color: gray;
}
.top_user_card img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.top_user_card .top_amount {
    padding: 2px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    border-radius: 50px;
    color: #f1f1f1;
}




/* dialog box */

.dialog_box {
    /* width: 50%;
    height: 100vh; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 50%;
    left: 50%;
    z-index: 9999;
}
.dialog_box.active {
    display: none;
}
.dialog_notification {
    position: fixed;
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    box-shadow: 2px 5px #fff;
}

.dialog_heading {
    border-top: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.dialog_content {
    padding: 20px 10px;
}

.dialog_content p {
    font-size: 16px;
    margin-bottom: 10px;
}
.dialog_points ul {
    margin-top: 30px;
}
.dialog_points ul li {
    margin-top: 5px;
    list-style: none;
    color: #111;
    font-weight: bold;
}

.dialog_confirm {
    margin-top: 150px;
    text-align: center;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}