header {
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    border-radius: 0 0 100px 100px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.navbar a i {
    font-size: 30px;
    color: #fff;
}

.navbar .nav_heading p {
    font-size: 20px;
    color: #fff;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #F7F8FF;
}

.navbar_card {
    margin: 20px;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px #d4d4d4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.avatar, .nickname, .uid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.avatar a {
    color: gray;
    font-size: 16px;
}
.nickname p, .uid p {
    color: gray;
    font-size: 16px;
}

.nickname a, .uid a{
    color: #111;
    font-size: 16px;
    cursor: pointer;
}
.uid i {
    color: #f95959;
}


.security_information {
    padding: 10px;
}

.security_heading {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.vr_line {
    width: 3px;
    height: 25px;
    background-color: #f95959;
}
.security_heading h1 {
    color: #111;
    font-size: 22px;
}
.settings_info {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.settings_info div:first-child{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.settings_info div:first-child i {
    padding: 5px;
    border-radius: 10px;
    background-color: #FEEEEE;
    color: #f95959;
    font-size: 25px;
}
.settings_info a {
    color: gray;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.settings_info a i {
    font-size: 25px;
    font-weight: 100;
}


@media (max-width: 375px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }
    .navbar_card {
        margin: 10px;
        padding: 10px 10px 30px 10px;
    }
    .avatar img {
        width: 60px;
        height: 60px;
    }
    .avatar a {
        font-size: 14px;
    }
    .nickname p, .uid p {
        font-size: 14px;
    }
    .nickname a, .uid a {
        font-size: 14px;
    }


    .security_heading h1 {
        color: #111;
        font-size: 18px;
    }
    .settings_info {
        padding: 5px;
    }
    .settings_info div:first-child i {
        font-size: 20px;
    }
    .settings_info div:first-child {
        font-size: 14px;
    }
    .settings_info a {
        font-size: 14px;
    }
}