
header {
    height: 220px;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
}

.navbar {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar a i {
    font-size: 30px;
    color: #fff;
}
.navbar p {
    font-size: 18px;
}
.navbar div:last-child {
    font-size: 30px;
    visibility: hidden;
}

.wallet_balance {
    /* margin-top: 30px; */
    text-align: center;
}

.wallet_balance i {
    color: #fff;
    font-size: 30px;
    padding-bottom: 10px;
}
.wallet_balance p {
    color: #fff;
    font-size: 24px;
}
.wallet_balance span {
    color: #fff;
    font-size: 12px;
}

.wallet_balance .amount_type {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.amount_type span {
    font-size: 22px;
}

.amount_type p {
    font-size: 12px;
}


.balance_function {
    padding: 170px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.balance_func_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.balance_function i {
    color: #f95959;
    font-size: 22px;
}
.balance_function p {
    color: gray;
}

