
/* header */

header {
    height: 400px;
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    border-radius: 0 0 50px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.navbar .nav_back a {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.navbar .nav_icon {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.nav_icon i {
    color: #fff;
    font-size: 20px;
}
.navbar img {
    width: 100px;
}


main {
    /* margin-top: 20px; */
    padding-bottom: 50px;
}

/* main body */
.balance {
    margin: 5px 15px;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.balance .balance_amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.balance .balance_btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.balance_btns .withdraw_btn {
    padding: 5px 35px;
    color: #fff;
    background-color: #f95959;
    border-radius: 20px;
}

.balance_btns .deposite_btn {
    padding: 5px 35px;
    color: #fff;
    background-color: #18B660;
    border-radius: 20px;
}



.main_details {
    margin: 20px 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
}

.main_details i {
    width: 20px;
    color: #F95959;
}
.main_details .details_text {
    font-size: 11px;
    text-wrap: wrap;
    width: 90%;
}
.main_details .details_btn{

    color: rgb(232, 230, 227);
    background-color: #F95959;
    padding: 6px 14px;
    border-radius: 20px;
    display: flex;
}
.details_btn i {
    color: white;
}

.wingo_times {
    margin: 20px 15px;
    background-color: #fff;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
}
.wingo_times .wingo_time_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: gray;
}
.wingo_time_card.active {
    background: linear-gradient(90deg, #f95959 0%, #ff9a8e 100%);
    color: white;
    line-height: 16px;
}
.wingo_times .wingo_time_card img {
    width: 50px;
}
.wingo_times .wingo_time_card p {
    font-size: 12px;
    text-align: center;
}



.main_ticket {
    width: 90%;
    height: 111px;
    margin: 50px 15px;
    background: url("/static/assets/tickte.png") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
}

.main_ticket .ticket_left a {
    color: #fff;
    font-size: 12px;
    padding: 6px 35px;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 30px;
}
.main_ticket .ticket_left p {
    color: #fff;
    font-size: 12px;
}
.main_ticket .ticket_right  {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.main_ticket .ticket_right p {
    font-size: 16px;
    color: #fff;
}
.ticket_right .ticket_time {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5px;
    margin-bottom: 5px;
}
.ticket_time .time {
    padding: 5px;
    color: #111;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
}

.game_window {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 3px 2px #e2e2e2;
    margin: 10px 15px;
}
.game_window .game_color {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.game_window .game_color p {
    width: 300px;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.game_window #color_green {
    background-color: #18B660;
}
.game_window #color_violet {
    background-color: #C86EFF;
}

.game_window #color_red {
    background-color: #FB5B5B;
}

.game_window .game_number {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.game_window .game_number img {
    width: 60px;
    margin: 5px;
}

.game_window .game_size {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border-radius: 25px;
    padding: 10px 40px;
}
.game_size .size_big {
    padding: 5px;
    width: 50%;
    border-radius: 25px 0 0 25px;
    background-color: #FEAA57;
}

.game_size .size_small {
    padding: 5px;
    width: 50%;
    border-radius: 0 24px 25px 0;
    background-color: #6EA8F4;
}





/* buy forms */

.main_section {
    position: relative;
}
.buy_form_div {
    width: 100%;
    height: 100%;
    background-color: #11111162;
    position: absolute;
    top: 0;
    display: none;
}
.buy_form_div.active {
    display: block;
}
.buy_form_color {
    /* display: none; */
    width: 100%;
    max-width: 425px;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    bottom: 0;
}
.buy_form_color .buy_heading {
    background-color: #18B660;
    text-align: center;
    padding: 20px;
    border-radius: 20px 20px 0 0;

}

.buy_heading h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}


.buy_heading p {
    color: #111;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
}


.buy_balance {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.buy_balance span {
    cursor: pointer;
    background-color: #f7f3f3;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.buy_balance span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_quantity {
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.buy_quantity span {
    cursor: pointer;
    background-color: #f7f3f3;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.buy_quantity span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_multiply {
    display: flex;
    padding: 0 20px;
    justify-content: end;
}
.buy_multiply span {
    cursor: pointer;
    background-color: #f7f3f3;
    color: #111;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
}
.buy_multiply span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_policy {
    margin: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.buy_policy p {
    font-size: 14px;
}
.buy_policy span {
    font-size: 16px;
    color: #F95959;
}

.buy_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_btn p {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #F6F6F6;
    color: #768096;
    flex: 1;
    text-align: center;
}

.buy_btn input {
    flex: 2;
    padding: 10px;
    font-size: 18px;
    background-color: #18B660;
    color: #fff;
    border: none;
    outline: none;
}



/* buy form div two */
.buy_form_div_number {
    width: 100%;
    height: 100%;
    background-color: #11111162;
    position: absolute;
    top: 0;
    display: none;
}
.buy_form_div_number.active {
    display: block;
}
.buy_form_color {
    /* display: none; */
    width: 100%;
    max-width: 425px;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    bottom: 0;
}
.buy_form_color .buy_heading {
    background-color: #18B660;
    text-align: center;
    padding: 20px;
    border-radius: 20px 20px 0 0;

}

.buy_heading h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}


.buy_heading p {
    color: #111;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
}


.buy_balance {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.buy_balance span {
    cursor: pointer;
    background-color: #f7f3f3;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.buy_balance span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_quantity {
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.buy_quantity span {
    cursor: pointer;
    background-color: #f7f3f3;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.buy_quantity span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_multiply {
    display: flex;
    padding: 0 20px;
    justify-content: end;
}
.buy_multiply span {
    cursor: pointer;
    background-color: #f7f3f3;
    color: #111;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
}
.buy_multiply span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_policy {
    margin: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.buy_policy p {
    font-size: 14px;
}
.buy_policy span {
    font-size: 16px;
    color: #F95959;
}

.buy_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_btn p {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #F6F6F6;
    color: #768096;
    flex: 1;
    text-align: center;
}

.buy_btn input {
    flex: 2;
    padding: 10px;
    font-size: 18px;
    background-color: #18B660;
    color: #fff;
    border: none;
    outline: none;
}





/* buy form div two */
.buy_form_div_size {
    width: 100%;
    height: 100%;
    background-color: #11111162;
    position: absolute;
    top: 0;
    display: none;
}
.buy_form_div_size.active {
    display: block;
}
.buy_form_color {
    /* display: none; */
    width: 100%;
    max-width: 425px;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    bottom: 0;
}
.buy_form_color .buy_heading {
    background-color: #18B660;
    text-align: center;
    padding: 20px;
    border-radius: 20px 20px 0 0;

}

.buy_heading h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}


.buy_heading p {
    color: #111;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
}


.buy_balance {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.buy_balance span {
    cursor: pointer;
    background-color: #f7f3f3;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.buy_balance span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_quantity {
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.buy_quantity span {
    cursor: pointer;
    background-color: #f7f3f3;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.buy_quantity span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_multiply {
    display: flex;
    padding: 0 20px;
    justify-content: end;
}
.buy_multiply span {
    cursor: pointer;
    background-color: #f7f3f3;
    color: #111;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
}
.buy_multiply span.active {
    background-color: #18B660;
    color: #fff;
}

.buy_policy {
    margin: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.buy_policy p {
    font-size: 14px;
}
.buy_policy span {
    font-size: 16px;
    color: #F95959;
}

.buy_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_btn p {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #F6F6F6;
    color: #768096;
    flex: 1;
    text-align: center;
}

.buy_btn input {
    flex: 2;
    padding: 10px;
    font-size: 18px;
    background-color: #18B660;
    color: #fff;
    border: none;
    outline: none;
}